@import url("../register/register.css");

.custom-password {

    background: rgba(255, 255, 255, 0.04);

    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 16px;

    color: white;

    padding: 15px;
}

.custom-password:focus {

    background: rgba(255, 255, 255, 0.05);

    color: white;

    box-shadow: none;

    border-color: #ffb800;
}