<div class="bg-animation">
</div>

<div class="particles">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
</div>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <div class="register-card p-4 p-md-5 text-center">

        <h1 class="brand-title">Nouveau mot de passe</h1>
        <p class="subtitle mb-4">
            Sécurisez votre compte
        </p>y

        <div *ngIf="errorMessage" class="alert alert-warning mb-3 text-start">
            {{ errorMessage }}
        </div>

        <form (ngSubmit)="onResetPassword()" autocomplete="off">

            <div class="mb-3 text-start">
                <label class="form-label text-light-50">Nouveau mot de passe</label>
                <div class="input-group custom-input-group">
                    <span class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                    <input 
                        [type]="showPassword ? 'text' : 'password'" 
                        name="password" 
                        class="form-control" 
                        placeholder="••••••••"
                        [(ngModel)]="password"
                        required>
                </div>
            </div>

            <div class="mb-4 text-start">
                <label class="form-label text-light-50">Confirmer mot de passe</label>
                <div class="input-group custom-input-group">
                    <span class="input-group-text">
                        <i class="bi bi-shield-lock-fill"></i>
                    </span>
                    <input 
                        [type]="showPassword ? 'text' : 'password'" 
                        name="confirm_password" 
                        class="form-control" 
                        placeholder="••••••••"
                        [(ngModel)]="confirmPassword"
                        required>
                    <span class="input-group-text toggle-password" (click)="togglePassword()">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                    </span>
                </div>
            </div>

            <button type="submit" class="btn btn-register w-100 py-2" [disabled]="isLoading">

                <span *ngIf="!isLoading">Réinitialiser</span>

                <span *ngIf="isLoading" class="d-flex align-items-center justify-content-center gap-2">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Réinitialisation...
                </span>
            </button>

        </form>

    </div>

</div>