<div class="bg-animation"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url('assets/images/bamafood_splash.png');">
</div>

<div class="particles">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
</div>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <div class="forgot-card p-4 p-md-5 text-center">

        <h1 class="brand-title mb-2">Bama<span>Food</span></h1>
        <p class="subtitle mb-4">
            Réinitialisez votre mot de passe
        </p>

        <div *ngIf="errorMessage" class="alert alert-warning mb-2 text-start">
            {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="alert alert-success mb-2 text-start">
            {{ successMessage }}
        </div>

        <form (ngSubmit)="onForgotPassword()" autocomplete="off">

            <div class="mb-4 text-start">
                <label class="form-label text-light-50">Adresse Email</label>
                <div class="input-group custom-input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    <input 
                        type="email" 
                        name="email" 
                        class="form-control" 
                        placeholder="example@gmail.com" 
                        [(ngModel)]="email"
                        required>
                </div>
            </div>

            <button type="submit" class="btn btn-submit w-100 py-2 mb-2" [disabled]="isLoading">

                <span *ngIf="!isLoading">Envoyer le code OTP</span>

                <span *ngIf="isLoading" class="d-flex align-items-center justify-content-center gap-2">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Envoie...
                </span>
            </button>

            <div class="d-flex justify-content-center option-links small mt-3">
                <a routerLink="/login" class="text-decoration-none">Retour à la connexion</a>
            </div>

        </form>

    </div>

</div>